// Rhenus Webseite
$rhenus-blau: rgb(0,44,124);
// BS Primary
$primary: rgb(0,70,155);
$primary-95: rgba(0,70,155,.95);
$primary-85: rgba(0,70,155,.85);
$primary-75: rgba(0,70,155,.75);
$primary-50: rgba(0,70,155,.5);
$primary-25: rgba(0,70,155,.25);
$primary-12: rgba(0,70,155,.125);
$primary-6: rgba(0,70,155,.05);
$primary-dark: rgb(0,70,175);
// BS Warning
$warning: rgb(250,187,0); $secondary: rgb(250,187,0);
$warning-95: rgba(250,187,0,.95);
$warning-85: rgba(250,187,0,.85);
$warning-75: rgba(250,187,0,.75);
$warning-50: rgba(250,187,0,.5);
$warning-25: rgba(250,187,0,.25);
$warning-12: rgba(250,187,0,.125);
$warning-6: rgba(250,187,0,.05);
$warning-dark: rgb(250,187,90);
// BS Success
$success: rgb(40,167,69);
$success-95: rgba(40,167,69,.95);
$success-85: rgba(40,167,69,.85);
$success-75: rgba(40,167,69,.75);
$success-50: rgba(40,167,69,.5);
$success-25: rgba(40,167,69,.25);
$success-12: rgba(40,167,69,.125);
$success-6: rgba(40,167,69,.05);
// BS Danger
$danger: rgb(200,0,0);
$danger-95: rgba(200,0,0,.95);
$danger-85: rgba(200,0,0,.85);
$danger-75: rgba(200,0,0,.75);
$danger-50: rgba(200,0,0,.5);
$danger-25: rgba(200,0,0,.25);
$danger-12: rgba(200,0,0,.125);
$danger-6: rgba(200,0,0,.05);
// BS Info
$info: rgb(204,224,238);
$info-95: rgba(204,224,238,.95);
$info-85: rgba(204,224,238,.85);
$info-75: rgba(204,224,238,.75);
$info-50: rgba(204,224,238,.5);
$info-25: rgba(204,224,238,.25);
$info-12: rgba(204,224,238,.125);
$info-6: rgba(204,224,238,.05);

// Grau Web (mit Abstufungen)
$gray: rgb(110,110,110);
$gray-95: rgba(110,110,110,.95);
$gray-85: rgba(110,110,110,.85);
$gray-75: rgba(110,110,110,.75);
$gray-50: rgba(110,110,110,.5);
$gray-25: rgba(110,110,110,.25);
$gray-12: rgba(110,110,110,.125);
$gray-6: rgba(110,110,110,.05);
// Dunkelgrau Web (mit Abstufungen)
$dark-gray: rgb(77,77,77);
$dark-gray-95: rgba(77,77,77,.95);
$dark-gray-85: rgba(77,77,77,.85);
$dark-gray-75: rgba(77,77,77,.75);
$dark-gray-50: rgba(77,77,77,.5);
$dark-gray-25: rgba(77,77,77,.25);
$dark-gray-12: rgba(77,77,77,.125);
$dark-gray-6: rgba(77,77,77,.05);
// Blaugrau Web (mit Abstufungen)
$blue-gray: rgb(133,149,157);
$blue-gray-95: rgba(133,149,157,.95);
$blue-gray-85: rgba(133,149,157,.85);
$blue-gray-75: rgba(133,149,157,.75);
$blue-gray-50: rgba(133,149,157,.5);
$blue-gray-25: rgba(133,149,157,.25);
$blue-gray-12: rgba(133,149,157,.125);
$blue-gray-6: rgba(133,149,157,.05);
$blue-gray-6f: rgb(249,250,250);
// Weiß (mit Abstufungen)
$white: rgb(255,255,255);
$white-99: rgba(255,255,255,.99);
$white-95: rgba(255,255,255,.95);
$white-85: rgba(255,255,255,.85);
$white-75: rgba(255,255,255,.75);
$white-70: rgba(255,255,255,.70);
$white-50: rgba(255,255,255,.5);
$white-25: rgba(255,255,255,.25);
$white-12: rgba(255,255,255,.125);
$white-6: rgba(255,255,255,.05);
// Schwarz (mit Abstufungen)
$black: rgb(0,0,0);
$black-95: rgba(0,0,0,.95);
$black-85: rgba(0,0,0,.85);
$black-75: rgba(0,0,0,.75);
$black-50: rgba(0,0,0,.5);
$black-25: rgba(0,0,0,.25);
$black-12: rgba(0,0,0,.125);
$black-6: rgba(0,0,0,.05);

$nav: rgba(249,250,250,1);